.logo_wrapper path{
    --value: 440;
    /* opacity: 0; */
    stroke-dasharray: var(--value);
    stroke-dashoffset: var(--value);
}

.logo_snake_animate path{
    animation: animate 3s ease-out forwards 1s;

}
.logo_wrapper svg{
    width: clamp(100px, 15vw, 15vh); 
    height: clamp(100px, 15vw, 15vh);
}

@keyframes animate{
    0%{
        stroke-dashoffset: var(--value);
        
    }

    100%{
        stroke-dashoffset: 0;


    }
}