/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */
/* Inspired by  https://codepen.io/ire/pen/Legmwo*/
/* Grid-related CSS */

:root {
    --square-size: clamp(15px, 4.8vw, 3rem);
    /* --square-gap: clamp(2px , 0.05vw, 10px); */
    --square-gap: 0.2em;
    --month-width: calc(var(--square-size) + var(--square-gap));
}

.yearGraph li{
    list-style-type: none;
    
}
.yearGraph .months {
    /* position: sticky; */
    grid-area: months;
    margin: 0;
    padding: 0;
    background-color: var(--ion-color-light);
    position: sticky;
    top: 0;
}
/* .months li{
    max-width: var(--square-size);
} */

.yearGraph .months li {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}
.yearGraph .days {
    grid-area: days;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.yearGraph .squares {
    grid-area: squares;
    margin: 0;
    padding: 0;
}

.yearGraph {
    width: 100%;
    padding: clamp(0.3rem, 1vw, 4rem);
    display: inline-grid;
    grid-template-areas: "empty months"
        "days squares";
    /* grid-template-areas: "empty months"
        "days squares"; */
    grid-template-columns: auto 1fr;
    grid-gap: 6px;
    /* border: 1px #fff9f9 solid; */
    /* background: #000; */
}


.yearGraph .months,
.yearGraph .days {
    color: var(--ion-color-dark);
    font-size: 0.7rem;

}

.yearGraph .months {
    display: grid;
    grid-template-columns: repeat(12, var(--month-width));
    justify-content: space-between;
    text-align: center;
}

.yearGraph .days,
.yearGraph .squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(31, var(--square-size));
}

.monthGraph .squares{
    width: max-content;
    padding: 1em;
    margin: auto;
    list-style-type: none;
    --square-size: clamp(14px, 8vw, 5rem);
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-columns: repeat(7, var(--square-size));
    grid-template-rows: repeat(5, var(--square-size));
}
.yearGraph .squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
    justify-content: space-between;
}

/* Other styling */




.days li:nth-child(even) {
    visibility: hidden;
}

.squares li {
    display: grid;
    place-items: center;
    /* background-color: var(--ion-color-medium); */
    border-radius: 0.3em;
}

/* .squares li.uncompleted[data-level="tracked"]{

} */
.squares li.completed {
    background-color: var(--ion-color-success);
    color: var(--ion-color-light);
    border: none;
}

.squares li.uncompleted[data-level="tracked"] {
    border: 1px solid var(--ion-color-tertiary);

}
.squares li.uncompleted[data-level="untracked"] {
    /* background-color: var(--ion-color-medium); */
    background-color: transparent;
    color: var(--ion-color-dark);
    border: none;
}

.squares li[data-level="2"] {
    background-color: #7bc96f;
}

.squares li[data-level="3"] {
    background-color: #196127;
}

.squares li[data-month="02"][data-day="31"],
.squares li[data-month="02"][data-day="30"],
.squares li[data-month="02"][data-day="29"],
.squares li[data-month="04"][data-day="31"],
.squares li[data-month="06"][data-day="31"],
.squares li[data-month="09"][data-day="31"],
.squares li[data-month="11"][data-day="31"] {
    visibility: hidden;
}