.page-wrapper-content, ion-toolbar{
    width: clamp(15em, 100%, 45em) ;
    margin: 0 auto 0px !important;
    
}


ion-header, ion-toolbar{
    background-color: var(--ion-color-light);
}
/* ion-toolbar, ion-header, .header-collapse-condense ion-toolbar{
    --background: transparent;
} */

.page-wrapper{
    /* background: var(--ion-color-light); */
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;
    min-height: 80vh;
}
/* .page-wrapper-content{
    height: 100%;
} */

.ion-page{
    align-items: center;
    /* background: var(--ion-color-light); */

}



ion-col{
    display: flex;
}

ion-tab-button ion-label{
    font-size: 0.875rem;
    font-weight: var(--font-semibold);
}