.page-wrapper-content,
ion-toolbar {
    /* width: clamp(15em, 100%, 45em); */
    width: clamp(15em, 100%, 75em);
    margin: 0 auto 0px !important;
}

ion-header,
ion-toolbar {
    background-color: var(--ion-color-light);
}

.page-wrapper {
    display: flex;
    align-items: stretch;
    min-height: 80vh;
}


.ion-page {
    align-items: center;
}

ion-slides{
    --bullet-background: var(--ion-color-dark) !important;
}

ion-col {
    display: flex;
}

ion-tabs{
    background-color: var(--ion-color-light);
}

ion-tab-button, ion-tab-button ion-label {
    transition: 300ms cubic-bezier(.17,.67,.43,1.35);


}
ion-tab-button ion-label {
    opacity: 0;
    font-size: 0.875rem;
    font-weight: var(--font-semibold);
    transform: translateX(-1em);

}

ion-tab-button {
    --color: var(--ion-color-medium-tint);
}
/* ion-tab-button.tab-selected {
    transform: translateX(0);
} */
ion-tab-button.tab-selected ion-label{
    transform: translateX(0);
    opacity: 1;
}

/* Animations & Page transitions */

.animate-fade {
    animation-name: fade;
}
.animate-fade-down {
    animation-name: fade-down;
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}


@keyframes fade{
    from {
        opacity: 0
    }
    to{
        opacity: 1;
    }
}
@keyframes fade-down{
    from {
        opacity: 0;
        transform: translateY(-1em);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}